{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true,
      "dynamicImport": true
    },
    "target": "es2020",
    "paths": {
      "@utils/*": ["./src/utils/*"],
      "@scripts/*": ["./scripts/*"],
      "@repositories/*": ["./src/repositories/*"],
      "@customTypes/*": ["./src/types/*"],
      "@clients/*": ["./src/clients/*"],
      "@schemas/*": ["./src/schemas/*"],
      "@models/*": ["./src/models/*"],
      "@services/*": ["./src/service/*"],
      "@validators/*": ["./src/validators/*"]
    },
    "baseUrl": "."
  },
  "module": {
    "type": "commonjs"
  }
}
