{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true,
      "dynamicImport": true
    },
    "target": "es2020",
    "paths": {
      "@utils/*": ["./src/utils/*"],
      "@scripts/*": ["./scripts/*"]
    },
    "baseUrl": "."
  },
  "module": {
    "type": "commonjs"
  }
}
